/*
* styles for gallery page
*/
ul.gallery {
	list-style: none outside none;
}
.gallery_box_single .gallery.clearfix {
	display: table;
	margin: 0 auto 20px;
}
.gallery_box ul {
	list-style: none outside none !important;
	margin: 0;
	padding: 0;
}
.gallery_box ul li {
	margin: 0 0 20px;
}
.gallery_box li img {
	/*padding: 5px;*/
	margin:0 10px 10px 0;
	float:left;
	border: 1px solid #BDBDBD;
	box-sizing: content-box;
	-moz-box-sizing: content-box; /*Firefox 1-3*/
	-webkit-box-sizing: content-box; /* Safari */
}
.rtl .gallery_box li img {
	float: right;
	margin:0 0 10px 10px;
}
.gallery_box p {
	margin-bottom:0px;
}
.gallery_detail_box {
	float:left;
	clear: both;
}
.rtl .gallery_detail_box {
	float: right;
}
.gallery_box .gallery_detail_box p.title {
	color: #000000;
	line-height: 1.5em;
	margin: 0 0 10px;
	font-weight: bold;
}
.gllr_clear {
	clear: both;
	height: 0;
}
.clear {
	clear: both;
}
.gallery .gllr_image_block {
	float: left;
}
.rtl .gallery .gllr_image_block {
	float: right;
}
#content .gallery .gllr_image_block a img {
	margin-top: 0;
	box-sizing: content-box;
	-moz-box-sizing: content-box; /*Firefox 1-3*/
	-webkit-box-sizing: content-box; /* Safari */
}
#content .gallery_box_single {
	word-wrap: break-word;
}
#content .gallery_box_single .gallery .gllr_image_block p {
	border: 1px solid #BDBDBD;
	margin: 5px 6px 0 0;
	padding: 0;
	box-sizing: content-box;
	-moz-box-sizing: content-box; /*Firefox 1-3*/
	-webkit-box-sizing: content-box; /* Safari */
}
.rtl #content .gallery_box_single .gallery .gllr_image_block p {
	margin: 5px 0 0 6px;
}
.gllr_single_image_text {
	font-size: 12px;
	color: #888;
	word-break: break-word;
}
.gallery li {
	float: left;
	margin: 5px 6px 10px 0;
}
.rtl .gallery li {
	float: right;
	margin: 5px 0 10px 6px;
}
.gallery .gllr_image_container {
	border: 1px solid #BDBDBD;
}
.pp_social {
	display: none;
}
#fancybox-wrap {
	box-sizing: content-box;
	-moz-box-sizing: content-box; /*Firefox 1-3*/
	-webkit-box-sizing: content-box; /* Safari */
}
#fancybox-wrap * {
	box-sizing: content-box;
	-moz-box-sizing: content-box; /*Firefox 1-3*/
	-webkit-box-sizing: content-box; /* Safari */
}
.gllr_image_block img {
	border-style: solid;
}
/* template fix for theme 2015 */
.page-template-gallery-template .site-content .site-content,
.single-gallery .site-content .site-content,
.single-bws-gallery .site-content .site-content {
	margin-left: 0;
	width: auto;
	margin-right: 0;
}
#ajax_update_postmeta,
#ajax_update_images {
	float: left;
}
.rtl #ajax_update_postmeta,
.rtl #ajax_update_images {
	float: right;
}
#gllr_date_additional_field, #gllr_link_additional_field,
#gllr_shrdescription_additional_field, #gllr_description_additional_field,
#gllr_svn_additional_field, #gllr_executor_additional_field,
#gllr_technologies_additional_field {
	float: left;
	position: relative;
	top: 2px;
	margin-right: 3px;
}
.rtl #gllr_date_additional_field, #gllr_link_additional_field,
.rtl #gllr_shrdescription_additional_field, #gllr_description_additional_field,
.rtl #gllr_svn_additional_field, #gllr_executor_additional_field,
.rtl #gllr_technologies_additional_field {
	float: right;
}
.tax-gallery_categories .site-content .site-content {
	width: 100%;
	margin-left: 0;
	margin-right: 0;
}
/* template fix for theme 2016 */
.gllr_twentysixteen.single-gallery .hentry,
.gllr_twentysixteen.single-bws-gallery .hentry {
	margin-bottom: 3.5em;
}
@media screen and (min-width: 61.5625em) {
	.gllr_twentysixteen.single-gallery .hentry,
	.gllr_twentysixteen.single-bws-gallery .hentry {
		margin-bottom: 7.0em;
	}
}
@media screen and (min-width: 44.375em) {
	.gllr_twentysixteen.single-gallery .hentry,
	.gllr_twentysixteen.single-bws-gallery .hentry {
		margin-bottom: 5.25em;
	}
}
/* fix pagination */
.gllr_pagination.pagination {
	margin: 0 0 20px;
	border: none;
	box-shadow: none;
}
.gllr_pagination.pagination a {
	border: none;
	box-shadow: none;
}
.gllr_pagination:before,
.gllr_pagination:after {
	display: none;
}
.gllr_pagination.pagination a {
	box-shadow: none;
}
.gllr_twentytwelve .gllr_pagination.pagination .page-numbers,
.gllr_twentythirteen .gllr_pagination.pagination .page-numbers,
.gllr_twentyfourteen .gllr_pagination.pagination .page-numbers {
	margin: 0 10px 0 0;
}
.rtl .gllr_twentytwelve .gllr_pagination.pagination .page-numbers,
.rtl .gllr_twentythirteen .gllr_pagination.pagination .page-numbers,
.rtl .gllr_twentyfourteen .gllr_pagination.pagination .page-numbers {
	margin: 0 0 0 10px;
}
.gllr_return_link {
	margin: 0 0 20px !important;
}