.wrap #icon-edit.icon32-posts-gallery {
 background: url("../images/icons_32.png") no-repeat scroll left top transparent;
}
.admin-color-classic .wrap #icon-edit.icon32-posts-gallery {
 background: url("../images/icons_32_b.png") no-repeat scroll left top transparent;
}
#adminmenu #menu-posts-gallery:hover div.wp-menu-image, #adminmenu #menu-posts-gallery.wp-has-current-submenu div.wp-menu-image {
 background: url("../images/menu.png") no-repeat scroll left top transparent;
}
.admin-color-classic #adminmenu #menu-posts-gallery:hover div.wp-menu-image, #adminmenu #menu-posts-gallery.wp-has-current-submenu div.wp-menu-image {
 background: url("../images/menu_b.png") no-repeat scroll left top transparent;
}
#adminmenu #menu-posts-gallery div.wp-menu-image {
    background: url("../images/menu.png?ver=20100531") no-repeat scroll left -32px transparent;
}
.admin-color-classic #adminmenu #menu-posts-gallery div.wp-menu-image {
    background: url("../images/menu_b.png?ver=20100531") no-repeat scroll left -32px transparent;
}

.gllr_clear {
    clear: both;
    height: 0;
}
.gllr_image_text {
    width:150px;
}
.gllr_link_text, .gllr_image_alt_tag {
    width:170px;
}
.gllr_order_text {
    width: 20px;
}
#Upload-File .gllr_order_message{
    padding-bottom:10px;
}
#Upload-File .gallery .gllr_image_block {
    float: left;
}
#Upload-File .gallery .gllr_border_image {
    border: 1px solid #BDBDBD;
}
#Upload-File .gallery .gllr_border_image img {
    padding:10px;
}
#Upload-File .gallery .small_text{
    font-size:10px;
    color:grey;
}
.gallery .delete {
    padding-top: 2px;
    text-align: center;
}
li.gllr_image_block {
    margin: 5px 6px 10px 0;
}
.pp_social {
    display:none;
}
#gllr_border_images_color_small {
    background: none repeat scroll 0 0 transparent;
    box-shadow: 0 9px 0 rgba(255, 255, 255, 0.1) inset;
    border: 1px solid #CCCCCC;
    display: inline-block;
    height: 20px;
    position: relative;
    vertical-align: middle;
    width: 20px;
    top: -2px;
}
#gllr_loader,
#gllr_img_loader {
    float: left;
    position: relative;
    display: none;
}
.gllr_code {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.07);
    font-size: 13px;
    margin: 0 1px;
    padding: 3px 5px 2px;
}
.gllr_span {
    color: #888888;
    font-size: 10px;
}