#adminmenu #menu-posts-gallery:hover div.wp-menu-image:before,
#adminmenu #menu-posts-gallery.wp-has-current-submenu div.wp-menu-image:before,
#adminmenu #menu-posts-gallery div.wp-menu-image:before {
    background: url("../images/menu_single.png") no-repeat scroll center 8px transparent;
    content: '';
}
#adminmenu #menu-posts-gallery.wp-not-current-submenu div.wp-menu-image {
    opacity: 0.7;
}
/*
* styles for gallery page
*/
ul.gallery {
	list-style: none outside none;
}
.gallery_box_single .gallery.clearfix {
    display: table;
    margin: 0 auto;
}
.gallery_box ul {
	list-style: none outside none !important;
	margin:0;
}
.gallery_box li {
	padding: 10px 10px 0 0;
	clear: both;
    list-style: none;
}
.gallery_box li img {
	padding: 5px;
	margin:0 10px 10px 0;
	float:left;
	border: 1px solid #BDBDBD;
}
.gallery_box p {
	margin-bottom:0px;
}
.gallery_detail_box {
	float:left;
}
.gallery_box .gallery_detail_box p.title {
	color: #000000;
    line-height: 1.5em;
    margin: 0 0 10px;
	font-weight: bold;
}
.gllr_clear {
	clear: both;
	height: 0;
}
.clear {
	clear: both;
}
.gllr_image_text {
	width:150px;
}
.gllr_link_text, .gllr_image_alt_tag {
	width:170px;
}
.gllr_order_text {
	width:20px;
}
.gallery .gllr_image_block {
	float: left;
}
#content .gallery .gllr_image_block a img {
    border: 10px solid #F1F1F1;
	margin-top: 0;
    box-sizing: content-box;
    -moz-box-sizing: content-box; /*Firefox 1-3*/
    -webkit-box-sizing: content-box; /* Safari */
}
#Upload-File .gllr_order_message{
	padding-bottom:10px;
}
#Upload-File .gallery .gllr_image_block {
    float: left;
}
#Upload-File .gallery .gllr_border_image {
    border: 1px solid #BDBDBD;
}
#Upload-File .gallery .gllr_border_image img {
    padding:10px;
}
#Upload-File .gallery .small_text{
	font-size: 10px;
	color: grey;
}
.gallery .delete {
	padding-top: 2px;
	text-align: center;
}
#content .gallery_box_single .gallery .gllr_image_block p {
	border: 1px solid #BDBDBD;
    margin: 5px 6px 0 0;
	padding: 0;
}
.gllr_single_image_text {
	font-size: 12px;
	color: #888;
}
.gllr_image_row {
	clear: both;
}
.gallery li {
    float: left;
	margin: 5px 6px 10px 0;
}
.gallery .gllr_image_container {
    border: 1px solid #BDBDBD;
}
.gallery .delete {
	padding-top: 2px;
	text-align: center;
}
.pp_social {
	display: none;
}
#gllr_form_image_size .gllr_width_labels label {
	min-width: 115px;
	float: left;
	margin-right: 5px;
}
#gllr_form_image_size input[type="radio"] {
	float: left;
	position: relative;
	top: 5px;
	margin-right: 5px;
}
#gllr_form_image_size .label_radio {
	width: 540px;
	cursor: default;
}
#gllr_border_images_color_small {
	background: none repeat scroll 0 0 transparent;
    box-shadow: 0 9px 0 rgba(255, 255, 255, 0.1) inset;
    border: 1px solid #CCC;
    display: inline-block;
    height: 20px;
    position: relative;
    vertical-align: middle;
    width: 20px;
	top: -2px;
}
#fancybox-wrap {
    box-sizing: content-box;
    -moz-box-sizing: content-box; /*Firefox 1-3*/
    -webkit-box-sizing: content-box; /* Safari */
}
#fancybox-wrap * {
    box-sizing: content-box;
    -moz-box-sizing: content-box; /*Firefox 1-3*/
    -webkit-box-sizing: content-box; /* Safari */
}
.gllr_image_block img {
    border-style: solid;
}
/* template fix for theme 2015 */
.page-template-gallery-template .site-content .site-content,
.single-gallery .site-content .site-content {
	margin-left: 0;
	width: auto;
}

#Upload-File .gllr_image_block img {
	border-style: none;
}
.minicolors input {
    height: 22px !important;
}
#gllr_loader,
#gllr_img_loader {
    float: left;
    position: relative;
    display: none;
}
#ajax_update_postmeta,
#ajax_update_images {
    float: left;
}
#gllr_date_additional_field, #gllr_link_additional_field, 
#gllr_shrdescription_additional_field, #gllr_description_additional_field,
#gllr_svn_additional_field, #gllr_executor_additional_field,
#gllr_technologies_additional_field {
    float: left;
    position: relative;
    top: 2px;
    margin-right: 3px;
}