#adminmenu #menu-posts-gallery:hover div.wp-menu-image:before,
#adminmenu #menu-posts-gallery.wp-has-current-submenu div.wp-menu-image:before,
#adminmenu #menu-posts-gallery div.wp-menu-image:before {
    background: url("../images/menu_single.png") no-repeat scroll center 8px transparent;
    content: '';
}
#adminmenu #menu-posts-gallery.wp-not-current-submenu div.wp-menu-image {
    opacity: 0.7;
}
/*
* styles for gallery page
*/
.gllr_clear {
	clear: both;
	height: 0;
}
.gllr_image_text {
	width: 150px;
}
.gllr_link_text, .gllr_image_alt_tag {
	width: 170px;
}
.gllr_order_text {
	width: 20px;
}
.gallery .gllr_image_block {
	float: left;
}
#Upload-File .gllr_order_message {
	padding-bottom:10px;
}
#Upload-File .gallery .gllr_image_block {
    float: left;
}
#Upload-File .gallery .gllr_border_image {
    border: 1px solid #BDBDBD;
}
#Upload-File .gallery .gllr_border_image img {
    padding:10px;
}
#Upload-File .gallery .small_text {
	font-size: 10px;
	color: grey;
}
li.gllr_image_block {
    margin: 5px 6px 10px 0;
}
.gallery .delete {
	padding-top: 2px;
	text-align: center;
}
.pp_social {
	display: none;
}
#gllr_border_images_color_small {
	background: none repeat scroll 0 0 transparent;
    box-shadow: 0 9px 0 rgba(255, 255, 255, 0.1) inset;
    border: 1px solid #CCC;
    display: inline-block;
    height: 20px;
    position: relative;
    vertical-align: middle;
    width: 20px;
	top: -2px;
}
.minicolors input {
    height: 22px !important;
}
#gllr_loader,
#gllr_img_loader {
    float: left;
    position: relative;
    display: none;
}
#ajax_update_postmeta,
#ajax_update_images {
    float: left;
}
.gllr_code {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.07);
	font-size: 13px;
	margin: 0 1px;
	padding: 3px 5px 2px;
}
.gllr_span {
    color: #888888;
    font-size: 10px;
}