/*
* styles for gallery page
*/
.gllr_clear {
	clear: both;
	height: 0;
}
.gllr_loader {
	position: relative;
	display: none;
	margin: 0 5px;
	vertical-align: sub;
}
.rtl .gllr_settings_table label {
	float: right;
	width: 100%;
}
.bws_table_bg.gllr_bws_table_bg {
	z-index: 0;
}
/* New media style */
.post-type-gallery #the-list.ui-sortable,
.post-type-bws-gallery #the-list.ui-sortable {
	cursor: move;
}
.post-type-gallery tr.ui-sortable-helper *,
.post-type-bws-gallery tr.ui-sortable-helper * {
	background-color: transparent;
}
.post-type-gallery .ui-sortable-helper,
.post-type-bws-gallery .ui-sortable-helper {
	background-color: #f5f5f5;
	opacity: 0.8;
	filter: alpha(opacity=80);
	border: 1px solid #ccc;
}
.post-type-gallery tr.ui-sortable-helper input,
.post-type-gallery .ui-sortable-helper .row-actions,
.post-type-gallery .ui-sortable-placeholder td:last-child,
.post-type-bws-gallery tr.ui-sortable-helper input,
.post-type-bws-gallery .ui-sortable-helper .row-actions,
.post-type-bws-gallery .ui-sortable-placeholder td:last-child {
	display: none;
}
.post-type-gallery .ui-sortable-placeholder,
.post-type-bws-gallery .ui-sortable-placeholder {
	visibility: visible !important;
}
.post-type-gallery li.ui-sortable-placeholder,
.post-type-bws-gallery li.ui-sortable-placeholder {
	border: 1px dashed #bbb;
}
.post-type-gallery #wp-content-media-buttons,
.post-type-bws-gallery #wp-content-media-buttons {
	display: none;
}
.post-type-gallery .wp-list-table td *,
.post-type-bws-gallery .wp-list-table td * {
	max-width: 100%;
}
.post-type-gallery table.media .column-title .media-icon,
.post-type-bws-gallery table.media .column-title .media-icon {
	float: left;
	margin: 0 9px 0 0;
}
.rtl.post-type-gallery table.media .column-title .media-icon,
.rtl.post-type-bws-gallery table.media .column-title .media-icon {
	float: right;
	margin: 0 0 0 9px;
}
.post-type-gallery table.media th,
.post-type-bws-gallery table.media th {
	overflow: visible;
}
.post-type-gallery table.fixed .column-images,
.post-type-bws-gallery table.fixed .column-images {
	width: 10%;
}
.post-type-gallery table.fixed .column-featured-image,
.post-type-bws-gallery table.fixed .column-featured-image {
	width: 13%;
}
.gllr-wp-filter {
	margin-top: 15px;
}
#bws_settings_tabs_wrapper .bws_tab#gllr_images_tab > .attachments {
	margin: 0;
	width: 100%;
}
.gllr-media-attachment {
	border: 1px solid #f1f1f1;
	width: calc( 16.6% - 23px );
	-moz-user-select: none;
	box-sizing: border-box;
	color: #464646;
	cursor: move;
	display: inline-block;
	list-style: outside none none;
	margin: 10px;
	position: relative;
	text-align: center;
}
.gllr-media-attachment.details {
	box-shadow: 0 0 0 3px #f1f1f1, 0 0 0 7px #1e8cbe;
}
.gllr-media-attachment.selected .gllr-media-check {
	background-color: #1e8cbe;
	box-shadow: 0 0 0 1px #fff, 0 0 0 2px #1e8cbe;
	display: block;
	height: 24px;
	outline: medium none;
	position: absolute;
	right: 5px;
	bottom: 31px;
	width: 24px;
	z-index: 10;
}
.gllr-media-attachment.selected .media-modal-icon {
	background-image: url("../../../../wp-includes/images/uploader-icons-2x.png");
	background-size: 134px 15px;
	background-repeat: no-repeat;
	height: 15px;
	margin: 5px;
	width: 15px;
	background-position: -21px 0;
}
.gllr-media-attachment.selected .media-modal-icon:hover,
.gllr-media-attachment.selected .media-modal-icon:focus {
	background-position: -60px 0;
}
.gllr-media-attachment-preview{
	position:relative;
}
.gllr-media-attachment-preview::before {
	content: "";
	display: block;
	padding-top: 100%;
}
.success .gllr-media-attachment-preview {
	box-shadow: 0 0 5px 4px rgba(153, 240, 153, 1);
	-webkit-box-shadow: 0 0 5px 4px rgba(153, 240, 153, 1);
	-moz-box-shadow: 0 0 5px 4px rgba(153, 240, 153, 1);
}
.gllr-media-attachment-preview .centered {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	transform: translate(50%, 50%);
	width: 100%;
}
.gllr-media-thumbnail {
	bottom: 0;
	left: 0;
	opacity: 1;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	transition: opacity 0.1s ease 0s;
}
.gllr-media-thumbnail::after {
	bottom: 0;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1) inset;
	content: "";
	display: block;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
}
.gllr-media-thumbnail img {
	transform: translate(-50%, -50%);
	position: absolute;
	left: 0;
	top: 0;
	max-height: 100%;
}
.gllr-media-actions-edit,
.gllr-media-actions-edit:hover,
.gllr-media-actions-edit.dashicons,
.gllr-media-actions-edit.dashicons:hover,
.gllr-media-actions-delete.dashicons,
.gllr-media-actions-delete.dashicons:hover {
	position: absolute;
	display: block;
	top: 5px;
	width: 25px;
	height: 25px;
	line-height: 25px;
	font-size: 18px;
	outline: none;
	z-index: 20;
	color: #fff;
}
.gllr-media-actions-edit {
	background: #555;
	box-shadow: 0 0 0 1px #fff, 0 0 0 2px #555;
	right: 5px;
}
.gllr-media-actions-delete.dashicons {
	background: #e02626;
	box-shadow: 0 0 0 1px #fff, 0 0 0 2px #e02626;
	left: 5px;
}
.gllr-media-attachment-details {
	background-color: #eee;
	padding: 4px;
	text-align: left;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    width: calc(100% - 8px);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1) inset;
}
/* Media TB_inline*/
.post-type-gallery #TB_window,
.post-type-bws-gallery #TB_window {
	max-height: 450px;
	overflow: hidden;
}
.post-type-gallery #TB_ajaxContent,
.post-type-bws-gallery #TB_ajaxContent {
	box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.1) inset;
	max-height: 94%;
	overflow-x: scroll;
	overflow-y: visible;
	padding: 0;
	width: 100% !important;
	position:relative;
}
.post-type-gallery #TB_ajaxContent #bws_shortcode_popup_block,
.post-type-bws-gallery #TB_ajaxContent #bws_shortcode_popup_block {
	padding: 2px 15px 15px 15px;
}
.selected .gllr-media-bulk-select-button,
.gllr-media-bulk-cansel-select-button,
.gllr-media-bulk-delete-selected-button {
	display: none !important;
}
.selected .gllr-media-bulk-cansel-select-button,
.selected .gllr-media-bulk-delete-selected-button{
	display:inline-block !important;
}
.gllr-media-attachment-details-box {
	display: none;
}
.gllr-media-attachment-details-box-left {
	width:55%;
	float:left;
	padding:10px 15px 10px;
	height: 100%;
	box-sizing: border-box;
}
.rtl .gllr-media-attachment-details-box-left {
	float:right;
}
.gllr-media-attachment-details-box-left img {
	max-width:100%;
}
.gllr-media-attachment-details-box-right {
	width:44%;
	height: 100%;
	float:right;
	box-sizing: border-box;
}
.post-type-gallery .ui-tooltip,
.post-type-bws-gallery .ui-tooltip {
	z-index: 1000000 !important;
}
.rtl .gllr-media-attachment-details-box-right {
	float: left;
}
.gllr-media-attachment-details-box-right .attachment-details {
	border-left: 1px solid #ddd;
	background: #f3f3f3 none repeat scroll 0 0;
	padding:10px;
	height: 100%;
	box-sizing: border-box;
}
.gllr-media-attachment-details-box-right .setting .name {
	max-width: 80px;
}
.gllr-media-attachment-details-box-right .setting span.bws_info {
	float: none;
	vertical-align: bottom;
}
.gllr-media-attachment-actions {
	border-top: 1px solid #ddd;
	margin-top: 15px;
	padding-top: 15px;
}
.gllr-media-attachment-actions > a {
	line-height: 39px;
}
.gllr-media-attachment-actions .gllr-media-actions-delete {
	color:#bc0b0b;
}
.gllr-media-attachment-actions .gllr-media-actions-delete:hover {
	color:red;
}
.post-type-gallery #the-list .success th,
.post-type-gallery #the-list .success td,
.post-type-bws-gallery #the-list .success th,
.post-type-bws-gallery #the-list .success td {
	background: #eff8f3;
}
.post-type-gallery #the-list .success .check-column,
.post-type-bws-gallery #the-list .success .check-column {
	border-left: 4px solid #179458;
}
@media screen and (max-width: 1600px) {
	.gllr-media-attachment {
		width: calc( 20% - 23px );
	}
}
@media screen and (max-width: 1400px) {
	.gllr-media-attachment {
		width: calc( 25% - 23px );
	}
}
@media screen and (max-width: 1300px) {
	.gllr-media-attachment {
		width: calc( 33.3% - 23px );
	}
	#gllr_settings_tab select,
	#gllr_cover_tab select,
	#gllr_lightbox_tab select {
		width: 100% !important;
	}
}
@media screen and (max-width: 1150px) and (min-width: 851px) {
	.gllr-media-attachment {
		width: calc( 50% - 23px );
	}
}
@media screen and (min-width: 1000px) {
	.post-type-gallery table.media .column-title,
	.post-type-bws-gallery table.media .column-title {
		width: 35%;
	}
}
@media screen and (min-width: 800px) {
	.post-type-gallery tr.ui-sortable-placeholder th,
	.post-type-gallery tr.ui-sortable-placeholder td,
	.post-type-bws-gallery tr.ui-sortable-placeholder th,
	.post-type-bws-gallery tr.ui-sortable-placeholder td {
		border-top: 1px dashed #bbb;
		border-bottom: 1px dashed #bbb;
		height: 10px;
	}
	.post-type-gallery table.media .column-dimensions,
	.post-type-bws-gallery table.media .column-dimensions {
		width: 9%;
	}
}
@media screen and (max-width: 800px) {
	.post-type-gallery tr.ui-sortable-placeholder td,
	.post-type-bws-gallery tr.ui-sortable-placeholder td {
		display: none !important;
	}
}
@media screen and (max-width: 782px) {
	.post-type-gallery .column-featured-image,
	.post-type-bws-gallery .column-featured-image,
	.post-type-gallery .wrap table.wp-list-table tr td.column-featured-image::before,
	.post-type-bws-gallery .wrap table.wp-list-table tr td.column-featured-image::before,
	.post-type-gallery .column-gllr_image_text,
	.post-type-gallery .column-dimensions,
	.post-type-gallery .column-gllr_image_alt_tag,
	.post-type-gallery .column-gllr_link_url,
	.post-type-bws-gallery .column-gllr_image_text,
	.post-type-bws-gallery .column-dimensions,
	.post-type-bws-gallery .column-gllr_image_alt_tag,
	.post-type-bws-gallery .column-gllr_link_url {
		display: none;
	}
}
@media screen and (max-width: 650px) {
	.post-type-gallery .fixed .column-shortcode,
	.post-type-gallery .fixed .column-photos,
	.post-type-gallery .fixed .column-gallery_categories,
	.post-type-bws-gallery .fixed .column-shortcode,
	.post-type-bws-gallery .fixed .column-photos,
	.post-type-bws-gallery .fixed .column-gallery_categories {
		display: none;
	}
}
@media screen and (max-width: 620px) {
	.gllr-media-attachment-actions > a {
		display: block;
	}
	.gllr-separator{
		display:none;
	}
}
@media screen and (max-width: 600px) {
	.gllr-media-attachment {
		width: calc( 50% - 23px );
	}
}
@media screen and (max-width: 480px) {
	.gllr-media-attachment-details-box-left {
		float: none;
		height: auto;
		width: 100%;
		padding-top: 50px;
	}
	.gllr-media-attachment-details-box-right {
		border-top: 1px solid #ddd;
		float: none;
		height: auto;
		width: 100%;
		padding-top: 10px;
	}
	.post-type-gallery #TB_window,
	.post-type-bws-gallery #TB_window {
		overflow: auto;
	}
	.gllr-media-attachment-actions > a {
		display: inline;
	}
	.gllr-separator{
		display:inline;
	}
}
@media screen and (max-width: 350px) {
	.gllr-media-attachment {
		width: calc( 100% - 23px );
	}
}